.jumbotron {
  background-color: #E35F1E;
}

h1 {
  text-align: center;
  font-family: sans-serif;
  color: black;
}

button {
  background-color: #97E9EB ;
  color: black;
}

#c {
  display: none;
  background-color: lightblue;
  margin: 30px;
}

#css {
  display: none;
  background-color: pink;
  margin: 30px;
}

#php {
  display: none;
  background-color: navy;
  color: white;
  margin: 30px;
}

#ruby {
  display: none;
  background-color: red;
  color: white;
  margin: 30px;
}

#java {
  display: none;
  background-color: grey;
  margin: 30px;
}
